* { box-sizing:border-box }
body {
    padding:0;
    margin:0;
    overflow-x: hidden;
    background: url('../img/back.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#logo {
    background-color: black; 
    float:none;
    display:block;
    margin: auto;
}

.nav {
    height: 50px;
    width: 100%;
    background-color: black;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  




#fondonegro {
    background-color: black;
}
.menu a{
    position:static;
    flex: 1;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;    
    padding-left: 50px;
    border-color: black;
    box-shadow: 0px 6px 6px purple;
    text-align: center;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    display: inline;
}
li:hover{
    
    background-color: gray;
}
#textocajprincipal li:hover{
    
    background-color: orange;
}

#textocajprincipal p:hover{
    
    background-color: orange;
}

.list{
    list-style: none;
}

.list .list-item{
     display: flex;
}

       
.list .list-item__image{
    flex-shrink: 0;
 }

      
.list .list-item__content{
    flex-grow: 0;
}
.list-wrapper{
    margin-right: 650px;
}


#lateralizquierdo{
    border-radius: 105px 0px 0px 0px;
    -moz-border-radius: 105px 0px 0px 0px;
    -webkit-border-radius: 105px 0px 0px 0px;
    border: 0px solid #000000;
    background-color:darkorange;
    position:static;
    width: 300px;
    margin: 30px;
    height: 280px;
    float: left;
    box-shadow: 6px 6px 0px black;
    

}
#caja { 
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
color: #ffffff; 
font-size: 18px; 
font-weight: 400; 
text-align: center; 
background: #889ccf; 
margin: 0 0 25px; 
overflow: hidden; 
padding: 20px; 
border-radius: 35px 0px 35px 0px; 
-moz-border-radius: 35px 0px 35px 0px; 
-webkit-border-radius: 35px 0px 35px 0px; 
border: 2px solid #5878ca;}

#principal{
    position:relative;
    height: 840px;
    background-color: transparent;
    display: flex;
    flex: auto;
    text-indent: 20px;
    float: center;
    margin: 0px;
    margin-left: 400px;
    color:white;
}
#principal-form{
    position:relative;
    height: 840px;
    background-color: transparent;
    display: flex;
    flex: auto;
    text-indent: 20px;
    float: center;
    margin: 0px;
    margin-left: 400px;
    color:white;
}

#formulario {
    position:absolute;
    top: 400px;
    right:500px;
    font-family:monospace;
    color:darkorange;
}

#totus {
    text-align: center;
    width: auto;
    font-size: 50px;
    font-style:italic;
    color: #40FF33;
}

#cajafoto{
    margin-top: 500px;
    width: 220px;
    height: 510px;
    margin: 5px;
    position:static;
    bottom: 10px;
    border: 0px solid #73AD21;
    margin-right: 20px;
    
}
#cajafoto2{

    width: 220px;
    height: 510px;
    margin: 5px;
    position:static;
    bottom: 10px;
    border: 3px solid #73AD21;
    
}


.pie {
    position: relative;
    height: 150px;
    margin-top: -150px; 
    left: 50;
    bottom: 10;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.pie-1 {
    position: relative;
    height: 150px;
    margin-top: -150px; 
    left: 50;
    bottom: 10;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

#img1 {
    border: 0px solid #73AD21;
    float:left;
}

#textocajprincipal {
    float:left;
    text-align: center;
}

#videocaja {
    position:absolute;
    top: 700px;
    right: 50px;
    margin: 5px;
}



@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}


#twitter{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 1000% 0%;
    transform-origin: 70% 50%;
}

h3 {
    color:#FFEB00;
}

#facebook{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 1000% 0%;
    transform-origin: 70% 50%;
}

#instagram{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 1000% 0%;
    transform-origin: 70% 50%;
}

#RedesSociales{
    color: white;
    border: 0px solid #000000;
    background-color: green;
    position: absolute;
    width: 210px;
    margin: 40px;
    height: 240px;
    float: left;
    box-shadow: 6px 6px 0px black;
    margin-top: 400px;
}
.marco{
    margin-top: 50px;
    margin-left: 400px; 
    position: relative;
}
.marco-wrap{
    margin-top: 50px;
    margin-left: 300px; 
    position: relative;
}


.slider {
    float:left;
	width: 90%;
	margin: auto;
    overflow: hidden;
    margin-top: 50px;
}


.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}





  @media screen and (max-width: 1024px) {
    body 
    {
      background-color: lightblue;
      height: 100%;
      flex-grow: 0;
    }
    #fondonegro{
        margin: auto;
        width: fit-content;
    }
    
    header nav li,
    header {
        float:none;      
        width: 100%;
        text-align:center;
        margin: auto;
    }

.slider-ordenador{
    margin-top: 950px;
}
    #menu{
        float: left;
    }
    #logo{
       
      text-align:center;
    }
    .marco{
        display: contents;
        width: 100%;
        
    }
    .marco iframe{
        width: 300px;
        margin-left: 40px;
    }

    #lateralizquierdo{
        display: block;
        width: 70%;
    }

    #RedesSociales{
        display: block;
        width: 70%;
        position: initial;
        margin-top: auto;
    }

    #principal{
        display: contents;
        width: 100%;
        margin-top: 700px;
    }

    .pie{
        display: block;
        width: 100%;
        position: relative;
        margin-top: 1300px;
    }

    #textocajprincipal{
        padding-bottom: 200px;
}

 .img{
    width: 300px;
    height: 196px;
    margin-right: 200px;
}

.marco-wrap{
    display: inline;
    width: 100%;
}

form{
    margin-top: 320px;
    margin-left: 40px;
}

#slide{
    margin-top: 400px;
}

#cajafoto{
    margin-top: 100px;
    height: auto;
    margin-bottom: 150px;
}
#totus {
    text-align: center;
    width: auto;
    font-size: 50px;
    font-style: italic;
    color: #40FF33;
    margin-top: 170px;
}

.list-wrapper{
    margin-right: 130px;
}

.formulario1{
    margin-top: 500px;
}
}



/* Media Navbar */
  
@media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: black;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: 300px;
      overflow-y: auto;
      position: initial;
    }
  }